.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 3px 10px;
    margin: 100px 20px 10px 20px;
    border-radius: 15px;
    opacity: 80%;
    background-color: rgba(200, 200, 200, 0.85);
    gap: 10px;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footerTitle {
    font-size: 30px;
    color: black;
}

.footerNav {
    display: flex;
    justify-content: flex-end;
}

.footerNavLink {
    font-size: 30px;
    color: black;
}

.navList {
    display: flex;
    justify-content: flex-end;
}
