/* Footer container styling */
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px 3px 10px;
    margin: 100px 20px 10px 20px;
    border-radius: 15px;
    opacity: 80%;
    background-color: rgba(145, 145, 145, 0.85);
    gap: 10px; /* Space between items */
}

/* Footer content styling */
.footerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

/* Footer title styling */
.footerTitle {
    font-size: 30px;
    color: black;
}

/* Footer navigation styling */
.footerNav {
    display: flex;
    justify-content: flex-end;
}

/* Footer navigation link styling */
.footerNavLink {
    font-size: 30px;
    color: black;
}

/* Navigation list styling */
.navList {
    display: flex;
    justify-content: flex-end;
}